.viewer {
  --gutter: 8px;

  .top-panel {
    position: absolute;
    top: 0; left: 0; right: 0;
    padding: var(--gutter) calc(var(--gutter) * 2);
    height: 46px;
    background: '#ffffff';
    z-index: 1;
    border-bottom: 1px solid #ddd;
  }

  .toc {
    position: absolute;
    z-index: 1;
    top: 54px;
    right: calc(var(--gutter) * 2);

    font-size: 12px;
    min-width: 180px;
    max-width: 40%;
    max-height: 80%;
    overflow-y: auto;

    ol.toc-list {
      padding-left: 20px;
    }
    .is-active-li {
      font-weight: bold;
    }
    .toc-link {
      color: #000;
      text-decoration: none;
    }
    .toc-link:hover {
      text-decoration: underline;
    }
  }

  .viewer-markdown-container {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    top: 46px;
    padding: calc(var(--gutter) * 2);
    overflow-y: auto;
  }

  .viewer-markdown {
    --font-sm: .85em;

    table {
      border-spacing: 0;
      border-collapse: collapse;

      caption {
        font-size: var(--font-sm);
      }

      tr {
        border-top: 1px solid #ddd;
      }

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
      }

    }

    blockquote {
      padding-left: 10px;
      border-left: 5px solid #eee;
    }

    figcaption {
      font-size: var(--font-sm);
    }

    .footnotes-sep {
      margin: 2em 0;
    }
    .footnotes {
      font-size: var(--font-sm);

      // due to markdown-it-footnote always wrap a <p> in <li>
      .footnote-item > p {
        margin: .25em 0;
      }

      .footnote-backref {
        font-family: monospace;
      }
    }

    // highlight the anchor of sup and footnote item
    .footnote-ref > a:target,
    .footnote-item:target {
      background-color: #FFF3BF;
    }
  }
}
